@charset "UTF-8";
/**
    Нормализация блочной модели
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
    Убираем внутренние отступы слева тегам списков,
    у которых есть атрибут class
    */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
   Упрощаем работу с изображениями
  */
img {
  display: block;
  max-width: 100%;
}

/**
   Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  height: 100%;
}

/**
   Плавный скролл
  */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  min-height: 100%;
  /**
   Унифицированный интерлиньяж
  */
  line-height: 1.5;
}

/**
   Приводим к единому цвету svg-элементы
  */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
  transition-property: fill, stroke;
}

/**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-size: clamp(16px, 1.1458333333vw, 22px);
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-font-text);
  background-color: var(--color-background);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-title);
  color: var(--color-font-title);
}

h1 {
  font-size: clamp(50px, 4.4270833333vw, 85px);
}

h2 {
  font-size: clamp(40px, 3.3854166667vw, 65px);
}

h3 {
  font-size: clamp(36px, 2.6041666667vw, 50px);
}

h4 {
  font-size: clamp(32px, 2.0833333333vw, 40px);
}

h5 {
  font-size: clamp(20px, 1.3020833333vw, 25px);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  border: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

:root {
  --color-background: #FFFFFF;
  --color-font-title: #292F36;
  --color-font-text: #4D5053;
  --color-font-alt: #CDA274;
  --color-font-description: #4D5053;
  --color-border: #E7E7E7;
  --color-background-alt: #F4F0EC;
  --border: 1px solid var(--color-border);
  --border-radius: 62px;
  --border-radius-button: 18px;
  --font-family-title: "DM Serif Display", sans-serif;
  --font-family-base: "Jost", sans-serif;
  --container-width: 1200px;
  --container-padding-x: 20px;
  --section-padding-y: 48px;
  --button-height: 75px;
  --button-arrow-large: 70px;
  --button-arrow-small: 52px;
  --transition-duration: 0.2s;
}

.btn__dark {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--button-height);
  padding-inline: 48px;
  font-size: 18px;
  color: var(--color-background);
  background-color: var(--color-font-title);
  border: var(--border);
  border-radius: var(--border-radius-button);
}
@media (hover: hover) {
  .btn__dark:hover {
    color: var(--color-font-title);
    background-color: var(--color-font-alt);
  }
}
@media (hover: none) {
  .btn__dark:active {
    color: var(--color-font-title);
    background-color: var(--color-font-alt);
  }
}
.btn__dark img {
  padding-left: 7px;
}
.btn__circul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  aspect-ratio: 1;
  background-color: var(--color-background-alt);
  border-radius: 50%;
  border: none;
}
.btn__circul img {
  padding-left: 5px;
}
.btn__circul:hover {
  background-color: var(--color-font-alt);
}
.btn__number {
  background-color: white;
  border: 1px solid var(--color-font-alt);
  margin: 10px;
}

header {
  padding-top: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 57px;
}

.logo__logo {
  display: flex;
  align-items: center;
}

.logo__h3 {
  color: var(--color-font-title);
  font-size: xx-large;
  padding-left: 7px;
}

.header__a {
  color: var(--color-font-title);
  margin-left: 50px;
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 48px;
}
@media (hover: hover) {
  .header__a:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .header__a:active::after {
    width: 100%;
  }
}
.header__a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition-duration: inherit;
}

.banner {
  display: flex;
  background-repeat: no-repeat;
  background-image: url(../../assets/img/baner.png);
  background-position: center;
  background-size: cover;
  height: 758px;
  border-radius: var(--button-arrow-large);
  align-items: center;
  padding: 52px;
}
@media (max-width: 1023px) {
  .banner {
    height: 600px;
  }
}
@media (max-width: 767px) {
  .banner {
    height: 400px;
  }
}
.banner__tittle {
  width: 610px;
}
@media (max-width: 1023px) {
  .banner__tittle {
    width: 600px;
  }
}
@media (max-width: 767px) {
  .banner__tittle {
    width: 400px;
  }
}
.banner__textContent {
  width: 380px;
  padding: 15px 0;
}

.burger-button {
  border: none;
  background-color: transparent;
  padding: 0;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  border-radius: var(--border-radius-button);
}
@media (hover: hover) {
  .burger-button:hover {
    background-color: var(--color-font-alt);
  }
}
@media (hover: none) {
  .burger-button:active {
    background-color: var(--color-font-alt);
  }
}
.burger-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 50%;
  height: 2px;
  background-color: var(--color-font-title);
  border-radius: 5px;
  box-shadow: 0 -8px, 0 8px;
}

.mobile-overlay {
  width: 100%;
  height: 100%;
  padding: 14px 20px;
  margin: 0;
  border: none;
}
.mobile-overlay:modal {
  max-width: 100%;
  max-height: 100%;
}
.mobile-overlay__close-button-wrapper {
  display: flex;
  justify-content: end;
}
.mobile-overlay__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  min-height: 80vh;
}

.main__content__p {
  text-align: center;
  width: 600px;
}
.main__content__h3 {
  text-align: center;
}
.main__content__heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main__content__products {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
@media (min-width: 1281px) {
  .main__content__products {
    flex-direction: row;
    justify-content: space-between;
  }
}

.product {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-bottom: 10px;
  max-width: 600px;
  min-height: 548px;
}
.product__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 20px;
  column-gap: 20px;
  height: 100px;
}

.counter {
  background-color: var(--color-background-alt);
  padding: 130px 0;
}
.counter__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: var(--section-padding-y);
}
.counter__single {
  width: 292px;
}
.counter__single :not(:last-child) {
  border-right: 1px solid var(--color-font-alt);
}
.counter__h1 {
  color: var(--color-font-alt);
  text-align: center;
}
.counter__p {
  text-align: center;
}

.headBlock {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.headBlock:not(:last-child) {
  margin-bottom: 93px;
}
.headBlock__h1 {
  font-size: clamp(36px, 2.6041666667vw, 50px);
}
.headBlock__p {
  max-width: 500px;
  text-align: center;
}

.news__block {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 21px;
  width: 382px;
  min-height: 520px;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: 21px;
}
.news__list {
  --gridColumns: 3;
}

.grid {
  --gridColumns: 1;
  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
  gap: 27px;
}
@media (max-width: 767px) {
  .grid {
    gap: 30px;
  }
}
.grid--2 {
  --gridColumns: 2;
}
.grid--3 {
  --gridColumns: 3;
}
.grid--4 {
  --gridColumns: 4;
}
.grid--5 {
  --gridColumns: 5;
}
.grid--6 {
  --gridColumns: 6;
}
.grid--7 {
  --gridColumns: 7;
}
.grid--8 {
  --gridColumns: 8;
}
.grid--9 {
  --gridColumns: 9;
}
.grid--10 {
  --gridColumns: 10;
}
.grid--11 {
  --gridColumns: 11;
}
.grid--12 {
  --gridColumns: 12;
}
@media (max-width: 1023px) {
  .grid--2 {
    --gridColumns: 1;
  }
}
@media (max-width: 1023px) {
  .grid--3 {
    --gridColumns: 1;
  }
}

.news-card {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 21px;
  width: 382px;
  min-height: 520px;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: 21px;
}
.news-card__image {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  align-self: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
@media (max-width: 1023px) {
  .news-card__image {
    height: auto;
  }
}
.news-card__title {
  max-width: 300px;
}
.news-card__description {
  font-size: 16px;
}
.news-card__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (hover: hover) {
  .news-card:hover {
    background-color: var(--color-background-alt);
    transition-duration: inherit;
  }
  .news-card:hover .link-icon-wrapper {
    background-color: var(--color-background);
  }
}
@media (hover: none) {
  .news-card:active {
    background-color: var(--color-background-alt);
    transition-duration: inherit;
  }
  .news-card:active .link-icon-wrapper {
    background-color: var(--color-background);
  }
}
.news-card__category {
  position: absolute;
  top: 50%;
  left: 10%;
  padding: 8px 11px;
  background-color: var(--color-background);
  font-size: 16px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
}

.news__item {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 40px;
}
@media (min-width: 1024px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__a {
  display: inline-flex;
  height: 48px;
}
.footer__p {
  display: inline-flex;
  height: 48px;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.col__block {
  padding-left: 30px;
}
.footer__menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.blog__head {
  display: flex;
  justify-content: center;
}
.blog__head__p {
  width: 100px;
  padding-left: 90px;
}
.blog__head__article {
  position: absolute;
  top: 190px;
  justify-content: flex-start;
  padding-top: 50px;
  display: flex;
  border-radius: 50px;
  height: 200px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  align-items: flex-start;
  flex-direction: column;
  padding-left: 80px;
}
@media (min-width: 1024px) {
  .blog__head__article {
    top: 230px;
    height: 170px;
    width: 395px;
  }
}
@media (min-width: 1281px) {
  .blog__head__article {
    top: 235px;
    height: 250px;
    width: 395px;
  }
}

.blog__lastnews {
  padding-top: 130px;
  display: flex;
  flex-direction: column;
}
.blog__lastnews__main {
  display: flex;
}
.blog__lastnews__textcontent {
  width: 469px;
  margin-left: 80px;
}
.blog__lastnews footer {
  display: flex;
  align-items: flex-end;
}
.blog__lastnews__date {
  margin-bottom: 20px;
}

.blog__news {
  padding-top: 150px;
}

.slider {
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=main.css.map */