.headBlock {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    &:not(:last-child) {
        margin-bottom: 93px;
    }
    &__h1 {
        font-size: clamp(36px, 2.6041666667vw, 50px);
    }
    &__p {
        max-width: 500px;
        text-align: center;
    }
}
.news {
    &__block {
        position: relative;
        display: flex;
        flex-direction: column;
        row-gap: 21px;
        width: 382px;
        min-height: 520px;
        border: 1px solid var(--color-border);
        border-radius: var(--border-radius);
        padding: 21px;
    }
    &__list {
        --gridColumns: 3;
    }
}