.main__content__products {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    @include desktop-above {
        flex-direction: row;
        justify-content: space-between;
    }
}
.product {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-bottom: 10px;
    max-width: 600px;
    min-height: 548px;
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        -moz-column-gap: 20px;
        column-gap: 20px;
        height: 100px;
    }
}