.news-card {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 21px;
    width: 382px;
    min-height: 520px;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    padding: 21px;

    &__image {
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
        align-self: center;
        object-fit: cover;
        width: 100%;

        @include tablet {
            height: auto;
        }
    }

    &__title {
        max-width: 300px;
    }

    &__description {
        font-size: 16px;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 20px;
    }

    @include hover {
        background-color: var(--color-background-alt);
        transition-duration: inherit;

        & .link-icon-wrapper {
            background-color: var(--color-background);
        }
    }

    &__category {
        position: absolute;
        top: 50%;
        left: 10%;
        padding: 8px 11px;
        background-color: var(--color-background);
        font-size: 16px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        width: fit-content;
    }
}